/* ================== GOOGLE FONTS=================== */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Poppins:wght@300;400;500;700;800&display=swap');

/* ================== VARIABLES CSS=================== */

 :root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-sucess: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: .4rem;
    --border-radius-2: .8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, .4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    color: var(--color-dark);
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: .88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: .87rem;
}

h4 {
    font-size: .8rem;
}

h5 {
    font-size: .77rem;
}

small {
    font-size: .75rem;
}

.profile-photo {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-sucess);
}

.warning {
    color: var(--color-warning);
}

body {
    background-color: rgb(219, 217, 217);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 450px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: var(--box-shadow);
}

.box,
.box button {
    display: flex;
    align-items: center;
}

.box {
    width: 300px;
    height: 240px;
    flex-direction: column;
    justify-content: space-evenly;
}

.box button {
    width: 300px;
    height: 40px;
    background-color: #fff;
    outline: none;
    font-weight: bold;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 20px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: var(--box-shadow);
}

.box button:hover {
    box-shadow: none;
}

.box-one button img {
    margin: 0 .5rem;
}

.box-one i {
    color: #00acee;
    font-size: 1.8rem;
}

.box-two input {
    position: relative;
    width: 300px;
    height: 55px;
    outline: none;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 4px;
    padding-left: 10px;
}

.box-two input label {
    position: absolute;
    top: 0;
}

.box-two input::placeholder {
    font-size: 1rem;
}

.box-two input:focus {
    border: 1px solid #00acee;
}

.box-two .next-btn {
    background-color: #121212;
    color: #fff;
}

.container p {
    font-size: .7rem;
    color: rgb(138, 136, 136);
}

.container p a {
    text-decoration: none;
    color: #00acee;
}

.logo {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    padding-bottom: 3rem;
}

.logo img {
    width: 8rem;
    height: 4rem;
}

.pwd {
    margin-top: .6rem;
}

@media screen and (max-width: 768px) {
    body {
        background-color: white;
    }
    .container {
        margin-left: 1rem;
        box-shadow: none;
    }
}